<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>


	<div class="row">
		

		<div class="large-3 columns">
			United States of America<br>
			Population 316 Million<br>
			59 Fatal Police Shootings in the first 24 days of 2015<br>

		</div>
		<div class="large-3 columns">
			<strong>United States of America</strong><br>
			Population 316 Million<br>
			59 Fatal Police Shootings in the first 24 days of 2015<br>

		</div>
		<div class="large-3 columns">
			United States of America<br>
			Population 316 Million<br>
			59 Fatal Police Shootings in the first 24 days of 2015<br>

		</div>
		<div class="large-3 columns">
			<h5>Our Story</h5>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet molestie neque sed finibus. Aliquam eu consectetur arcu. Mauris elementum orci nec risus consequat, eget semper purus porta. Proin rhoncus velit est, et iaculis erat tincidunt ac. Duis nulla orci, euismod id sapien fermentum, faucibus aliquam felis. Nam eget leo ut risus fringilla faucibus ac eget purus. Vivamus elementum est nec lectus tempus, in consectetur libero faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu eros massa. Phasellus efficitur tincidunt quam sed congue. Ut eget porttitor augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		</div>
	</div>
	